include LICENSE
include CHANGELOG.md
include README.md
include pyproject.toml
recursive-include src *.py
recursive-include examples *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
